<style>header{
  height: 800px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/691/489/non_2x/retro-offset-rock-paper-scissors-icons-vector.jpg");
  background-size: fill;
  width: 100%;
}

header h1{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 100px;
    position: relative;
    top: 0px;
    font-weight: 600;
}

section{
  margin: 70px;
}

section p{
  font-size: 30px;
}

.img-contain{
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin:20px;
}

footer{
  background-color: lightcyan;
}</style>

<section>
  <center><h1>Our Products</h1></center>
  <div class = "row">
    <div class = "col">
      <div>
        <img class = "img-contain" src = "https://images4.cpcache.com/image/68702744_400x400_bg-white.jpg">
      </div>

      <div>
        <p>This pop art takes Rock Paper and Scissors to a whole different level!</p>
      </div>

      <div>
        <center><h2>$15</h2></center>
      </div>

      <div>
        <center>
          <button type="button" class="btn btn-outline-info btn-lg">BUY</button>
        </center>
      </div>

       <div>
        <a href = "https://www.cafepress.com/samkass/8781464"><center><h4>Check It Out!</h4></center></a>
      </div>

    </div>

    <div class = "col">
       <div>
        <img class = "img-contain" src = "http://www.samkass.com/rpsls_images/Old_cropped_apparel.png">
      </div>
      <div>
        <p>Show off your uniqueness and intelligence with these limited edition Rock Paper Scissor Lizard Spock instructional merch!</p>
      </div>
      <div>
        <center><h2>$15</h2></center>
      </div>

      <div>
        <center>
          <button type="button" class="btn btn-outline-info btn-lg">BUY</button>
        </center>
      </div>

       <div>
        <a href = "https://www.cafepress.com/samkass/9018506"><center><h4>Check It Out!</h4></center></a>
      </div>

    </div>

    <div class = "col">
       <div>
        <img class = "img-contain" src = "http://www.samkass.com/rpsls_images/Banner_10x3_sticker.png">
      </div>
      
      <div>
        <p>Put these kids to school with these cool AF designs!</p>
      </div>

      <div>
        <center><h2>$15</h2></center>
      </div>

      <div>
        <center>
          <button type="button" class="btn btn-outline-info btn-lg">BUY</button>
        </center>
      </div>

      <div>
        <a href = "https://www.cafepress.com/samkass/8782303"><center><h4>Check It Out!</h4></center></a>
      </div>

    </div>
  </div>

</section>
