<style>
    .contain{
        height: 300px;
        width: 270px;
        object-fit: fill;
    }
</style>

<section>
    <div class = "row">
        <div class = "col-6">
            <img class = "contain" href = "https://content.api.news/v3/images/bin/116f0fa292a996b948e6dfaebc789f27?width=1024">
        </div>
        <div class = "col">
            <h2>Blah Blah</h2>

        </div>
    </div>
</section>