
<section>
    <div class = "container1">
        <div class="row">
              <div class="col-md-6 contain" data-aos="fade-in">
              </div>
            <center>
              <div class="col backg3" style = "margin-right: 0px;margin-left: 980px;margin-top:68px;"data-aos="fade-in-left">
                  <div class = "col" style = "padding-top: 170px;" > 
                      <div style = "background-color: #F2E9DB;">
                <h1 >Redefining sustainable</h1>
                <h1>shopping for stylish living</h1>
                <p style = "margin-top: 35px; font-size:23px;">Empowering you to choose the right brands
that make you look good and feel good</p>
                </div>
                  </div>
              </div>
              </center>
            </div>

    </div>
</section>

<section>
    <center>
    <div class = "container1" style = "margin-top: 60px; margin-bottom:60px;font-size:24px;">
        <p>giving you the ability to make better shopping decisions. look great, plus make the planet feel great</p>
        <p>look great, plus </p>
        <p>plus make the planet feel great</p>
    </div>
    </center>
</section>

<section>
    <div class = "container1">
        <div class="row">
              <div class="col-md-6 backg1" style = "z-index:-1;"data-aos="fade-in">
                  <div class = "col" style = "margin-right: 150px;margin-left: 50px;margin-top: 100px;"> 
                      <h1>shop the latest trends from clean and green brands</h1> 
                      <p style = "margin-top: 60px; font-size:23px;">what we wear is what we represent because fashion shapes 
our identities. smyle gives you the option to make a choice. 
it gives you the choice to wear something that tells a meaningful
story. it gives to the chance to make a change for a greener world.</p>
                    <div class="mt-5">
                  <button type="button" style="background-color:#FF8A40 !important;margin-top:40px; opacity: 70%; border-radius: 10px;" class="btn btn-primary hover-green"><h4 style="margin-top:10px;">shop now</h4></button>
                </div>
                </div>                  
              </div>
            <center>
              <div class="col contain1" style = "z-index:1;"data-aos="fade-in-left"></div>
              </center>
            </div>
    </div>
</section>

<section>
    <div class = "container1">
        <div class="row">
              <div class="col-md-6 contain2" data-aos="fade-in">
              </div>
            <center>
              <div class="col backg2" style = "margin-right: 50px;margin-left: 750px;margin-top: 100px;"data-aos="fade-in-left">
                  <div class = "col" > 
                <h1 style = "padding-top: 110px;">make better choices and also </h1>
                <h1>look fabulous while doing it</h1>
                <p style = "margin-top: 60px; font-size:23px;">not only do we connect you with hundreds of 
                    sustainable brands, we also help you style your 
                    look by creating outfit bundles that you can buy 
                    in one click.</p>
                <div class="mt-5">
                  <button type="button" style="background-color:#FF8A40 !important; opacity: 70%;margin-top:40px; border-radius: 10px;" class="btn btn-primary hover-green"><h4 style="margin-top:10px;">style quiz</h4></button>
                </div>
                  </div>
              </div>
              </center>
            </div>

    </div>
</section>

<section>
    <div class = "container1" style = "margin-top: 40px; margin-bottom:40px;">
        <div class="row">
              <div class="col-md-6 backg1" style = "z-index:-1;"data-aos="fade-in">
                  <div class = "col" style = "margin-right: 150px;margin-left: 50px;margin-top: 100px;"> 
                      <h1>shop the latest trends from clean and green brands</h1> 
                      <p style = "margin-top: 60px; font-size:23px;">what we wear is what we represent because fashion shapes 
our identities. smyle gives you the option to make a choice. 
it gives you the choice to wear something that tells a meaningful
story. it gives to the chance to make a change for a greener world.</p>
                    <div class="mt-5">
                  <button type="button" style="background-color:#FF8A40 !important;margin-top:40px; opacity: 70%; border-radius: 10px;" class="btn btn-primary hover-green"><h4 style="margin-top:10px;">read about us</h4></button>
                </div>
                </div>                  
              </div>
            <center>
              <div class="col contain3" style = "z-index:1;"data-aos="fade-in-left"></div>
              </center>
            </div>
    </div>
</section>


<style>
    body{
        background-color: #F2E9DB;
    }
    .contain{
        margin-top: 55px;
        margin-left: 50px;;
        height: 600px;
        width: 930px;
        background-size: cover;
        background-image: url("https://ecowarriorprincess.net/wp-content/uploads/2019/12/6-Sustainable-Fashion-Trends-to-Watch-Out-for-in-2020.jpg");
    }

    .contain1{
        margin-top: 95px;
        margin-left: 630px;
        height: 500px;
        width: 870px;
        background-size: cover;
        background-image: url("https://www.sleek-mag.com/wp-content/uploads/2017/07/Sustainable-Fashion-Edun-pRE-fALL17.jpg");
    }

     .contain2{
        margin-top: 35px;
        margin-left: 100px;
        height: 670px;
        width: 510px;
        background-size: cover;
        background-image: url("https://content.api.news/v3/images/bin/116f0fa292a996b948e6dfaebc789f27?width=1024");
    }

    .contain3{
        margin-top: 90px;
        margin-left: 630px;
        height: 500px;
        width: 870px;
        background-size: cover;
        background-image: url("https://myminori.com/app/uploads/2019/08/alyssa-strohmann-TS-uNw-JqE-unsplash-1.jpg");
    }

    .backg2{
        height: 570px;
        width: 640px;
        background-color: white;
        margin-left: 800px;
    }

    .backg3{
        height: 570px;
        width: 540px;
        background-color: white;
      
    }

    .backg1{
        height: 700px;
        width: 770px;
        background-color: white;
        padding-left:0px;

    }

    section{
        width: 1438px !important;
    }


    .container{
        margin-left: 0px;
        padding-left: 0px;
        width: 1438px !important;
    }

    .container1{
        margin-left: 20px !important;
        margin-right: 20px !important;
        width: 1438px !important;

    }

    .ctr-align{
        margin-top: 200px;
    }

    .ctr-align2{
        margin-top: 90px;
    }
     
</style>